﻿<!DOCTYPE html>
<html  lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UI Sample App</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
 
    <div class="container body-content" ng-controller="Ctrl">
        <div class="stop" ng-hide="!isDisplayed"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UI Sample App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/angular")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
