﻿@model  List<int>
@{
    string prop = ViewData.ModelMetadata.PropertyName;
}

<div class="dropdown">
    <button class="btn btn-default btn-block" toggle-Class="open" type="button" >
        <text ng-bind="form.@prop || '@ViewData["text"]'"></text>
        <text class="caret"></text>
    </button>
    <ul class="dropdown-menu btn-block"  toggle-Class="open">
        @foreach (var item in Model)
        {
            <li><a href="" ng-click="form.@prop = '@item' ;@ViewData["Id"] = @item">@item</a></li>
        }
        @*<input type="hidden" name="groupid" ng-model="user.groupid" ng-init="user.groupid = 0">
            <span><a href="" id="0" ng-click="textname = 'Department Administrator';user.groupid = 0 ">Department Administrator</a></span>
            <span><a href="" id="1" ng-click="textname = 'Read Only Acoount';user.groupid = 1 ">Read Only Acoount</a></span>
            <span><a href="" id="2" ng-click="textname = 'None' ;user.groupid = 2">None</a></span>*@
    </ul>
</div>
