﻿body {
  background: #efefef;
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}

a {
  color: #00B7FF;
}
.btn{outline: none!important;}
/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.input-group-btn .btn{border-radius: 0!important;outline: none!important;}
.block {
  min-width: 100%!important;padding: 15px 25px!important;

}

.fixicon{margin:auto 5px auto -5px!important;
  font-size: 11px !important;}

/*IB Dailog*/
.IbDailog{color:#fff;width:400px;  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.30);border-radius:4px;
  min-height:100px; z-index:999999;  display: block;height:auto;  background:#f5f5f5;position:absolute;margin: auto;left:calc(50% - 200px); top:80px;}
.IbDWrap{display:table; position:relative;width:100%;}
.IbDTitle{position:absolute;top:0;width:100%;height:30px;background:#409cf2;border-bottom:1px solid #e2e2e2;
  line-height:30px;padding-left:10px;box-sizing:border-box;overflow: hidden;
}
.IbDTitle .glyphicon{float: right;padding: 8px;height: 100%; width: 30px;background: rgba(34, 34, 34, 0.20);box-sizing: border-box;margin-top:-1px;}
.IbDTitle .glyphicon:hover{background: rgba(34, 34, 34, 0.40);cursor: pointer;}
.IbDBody{width:100%; margin-top:2px;border-bottom:0px solid #e2e2e2;border-top:0px solid #fff; display: table; color:#3b3b3b;padding:25px 50px 50px 50px;box-sizing:border-box;}
.IbDFooter{position:absolute; bottom:0;width:100%;height:40px;box-sizing:border-box; background:#e8e8e8;border-top:0px solid #fff;padding: 5px;}
.caret{float:right;margin:10px;}
.btn-block{padding-top:11px!important;}
.bg-red{background:#d9534f!important;}
/*IB Dailog End*/

.form-group span{color: red;}
table{
  border:#dbdce2 1px solid;box-shadow: 0 0 30px black;
  -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
table thead{background:#204d74;color: #fff;}

.stop{position: fixed;margin: 0; min-width:0px;width:100%;margin-left:0;height:100vh;background: #000000; opacity: 0.22;top:0;
  left:0;display: block;
  z-index:999;}


@media only screen and (max-width: 800px) {
.fix-mobile{margin-top:20px;}
  body{
    padding:20px 20px 50px 20px!important;}
  .form-horizontal{margin: 0!important;width: 100%!important;}
  .IbDailog{width: 94%!important;margin: auto;
    left: 0px !important;right: 0!important;position: fixed;}
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }
  #no-more-tables tbody tr{margin-top:2px;}
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 35%;
    white-space: normal;
    text-align:left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 1px;
    left: 1px;
    width: 30%; padding:10px;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold; background:#e5e5e5;
  }




  /*
  Table on mobile
  */

  @media screen and (max-width: 665px) {

  }

  #no-more-tables td:before { content: attr(data-title); }
}