﻿@{
    ViewBag.title = "Delete";
}

<div class="IbDailog">
    <div class="IbDWrap">
        <div class="IbDTitle bg-red  draggable" draggable>Delete Car <span class="glyphicon glyphicon-remove" ng-click="removeDialog()"></span></div>
        <form name="userForm" id="userForm"  ng-submit="submitForm('@Url.Action("DeleteCar","Home")','post')" class="form-horizontal" autocomplete="off" novalidate>
            <div class="IbDBody">
                @Html.Hidden("CarId", null, new { @ng_model = "form.Id", @ng_init = "form.Id =" + Model })
                <div class="row text-center">
                    <h4>Are you sure you want to delete this car? </h4>
                    <h5 class="text-danger"> <b>You cannot undo this action</b></h5>
                    <br />
                </div>

            </div>
            <div class="IbDFooter">
                <span class="pull-right">
                    <button type="submit" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-ok fixicon"></span>Delete</button>
                    <button type="button" class="btn btn-sm text-primary" ng-click="removeDialog()">Cancel</button>
                </span>
            </div>
        </form>
    </div>
</div>
