﻿@model UI_Sample__App.Models.CarViewModel
@{ 
    ViewBag.title = "Edit";
}

<div class="IbDailog">
    <div class="IbDWrap">
        <div class="IbDTitle draggable" draggable>Edit Car <span class="glyphicon glyphicon-remove" ng-click="removeDialog()"></span></div>
        <form name="form" id="form" ng-submit="submitForm('@Url.Action("Edit","Home")','post')" class="form-horizontal" autocomplete="off" novalidate>
            <div class="IbDBody">
                @Html.Hidden("CarId",null, new { @ng_model = "form.Id", @ng_init = "form.Id =" + Model.Id  })
                <div class="form-group">
                    <label>Manufacture of car</label>
                    @Html.HiddenFor(m => m.Manufacture.Value, new { @ng_model = "form.Manufacture.Value" , @ng_init = "form.Manufacture.Value =" + Model.Manufacture.Value })
                    @Html.EditorFor(m => m.ManufactureList, new { @text = Model.Manufacture.Text, @Id = "form.Manufacture.Value" })
                </div>

                <div class="form-group">
                    <label>Make of car</label>
                    @Html.HiddenFor(m => m.Make.Value, new { @ng_model = "form.Make.Value", @ng_init = "form.Make.Value =" + Model.Make.Value })
                    @Html.EditorFor(m => m.MakeList, new { @text = Model.Make.Text, @Id = "form.Make.Value" })
                </div>

                <div class="form-group">
                    <label>Year of car</label>
                    @Html.HiddenFor(m => m.Year.Value, new { @ng_model = "form.Year.Value", @ng_init = "form.Year.Value =" + Model.Year.Value })
                    @Html.EditorFor(m => m.YearList, new { @text = Model.Year.Text, @Id = "form.Year.Value" })
                </div>

                <div class="form-group">
                    <label>Colour of car</label>
                    @Html.HiddenFor(m => m.Colour.Value, new { @ng_model = "form.Colour.Value", @ng_init = "form.Colour.Value =" + Model.Colour.Value })
                    @Html.EditorFor(m => m.ColourList, new { @text = Model.Colour.Text, @Id = "form.Colour.Value" })
                </div>

                <div class="form-group">
                    <label>Passenger of car</label>
                    @Html.HiddenFor(m => m.Passenger.Value, new { @ng_model = "form.Passenger.Value", @ng_init = "form.Passenger.Value =" + Model.Passenger.Value })
                    @Html.EditorFor(m => m.PassengerList, new { @text = Model.Passenger.Text, @Id = "form.Passenger.Value" })
                </div>


            </div>
            <div class="IbDFooter">
                <span class="pull-right">
                    <button type="submit" class="btn btn-sm btn-default"> <span class="glyphicon glyphicon-ok fixicon"></span>Save</button>
                    <button type="button" class="btn btn-sm text-primary" ng-click="removeDialog()">Cancel</button>
                </span>
            </div>
        </form>
    </div>
</div>




