﻿@{
    ViewBag.Title = "Home Page";
}

    <form class="form-horizontal">
            <div class="row">

                <div class="col-xs-12 col-md-8 fix-mobile">
                    <span>
                        <button type="button" class="btn btn-sm btn-info" ng-click="ShowDialog('@Url.Action("Add","Home")')"><span class="glyphicon glyphicon-plus btn-xs fixicon"></span>Add Car </button>
                    </span>
                </div>
            </div>

            <hr />
            <br />
            <div id="no-more-tables">
                <table class="table table-striped">
                    <thead>
                        <tr>                            
                            <th>No.</th>
                            <th>Manufacture</th>
                            <th>Make</th>
                            <th>Year</th>
                            <th>Colour</th>
                            <th>Passenger seating</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Items">
                            <td data-title="No.">
                                {{ item.Id }}
                            </td>
                            <td data-title="Manufacture">
                                {{ item.Manufacture.Text }}
                            </td>
                            <td data-title="Make">
                                {{ item.Make.Text }}
                            </td>
                            <td data-title="Year">
                                {{ item.Year.Text }}
                            </td>
                            <td data-title="Colour">
                                {{ item.Colour.Text }}
                            </td>
                            <td data-title="Passenger">
                                {{ item.Passenger.Text }}
                            </td>
                       
                            <td data-title="Actions">
                                <button type="button" class="btn btn-xs btn-info" ng-click="ShowDialog('@Url.Action("Edit","Home")',item.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-xs btn-danger"  ng-click="ShowDialog('@Url.Action("Delete","Home")',item.Id)"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
</form>
